.container {
  max-width: 1540px;
  margin: 0 auto;
}

.heading {
  margin-bottom: var(--spacing-4);
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-6);
}

.searchButtonLink {
  width: 100%;
  text-align: center;
}
.typesButtonLink {
  width: 100%;
  text-align: center;
} 