.container {
  max-width: 1540px;
  margin: 0 auto;
}

.hero {
  margin: -2rem -2rem 2rem -2rem;
  height: 400px;
  overflow: hidden;
  border-radius: 0 0 1rem 1rem;
}

.heroImage {
  width: 100%;
  height: 100%;
  position: relative;
}

.heroImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading {
  margin-bottom: 2rem;
  text-align: center;
}

.navigation {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.backButtonLink {
}

.content {
  text-align: center;
  font-size: 1.1rem;
  color: var(--color-text-secondary);
}

.placeholder {
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--color-background-secondary);
  border-radius: var(--radius-lg);
  border: 2px dashed var(--color-border);
} 